<app-menu-top></app-menu-top>

<div class="row">
  <app-menu-lateral></app-menu-lateral>


  <div class="container">
    <p>Escribe nombre a buscar:</p>
  
      
    <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Escribe nombre">

    
    <p></p>
    <table class="table table-hover">
      <thead>
        <tr class="bg-success">
          <th scope="col">#</th>
          <th scope="col">Id Proyecto</th>
          <th scope="col">Estudiante 1</th>
          <th scope="col">Estudiante 2</th>
          <th scope="col">Asignatura</th>
          <th scope="col">Titulo</th>
          <th scope="col">Semestre</th>
          <th scope="col">Resumen</th>
          <th scope="col">Metodológia</th>
          <th scope="col">Resultados</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let proyecto of proyecto; index as i ">

          <th scope="row">{{ i + 1 }}</th>

          <td>{{ proyecto.idProyecto }}</td>

          <td>{{ proyecto.identificacion }}</td>

          <td>{{ proyecto.estudiante1 }}</td>

          <td>{{ proyecto.estudiante2 }}</td>

          <td>{{ proyecto.asignatura }}</td>

          <td>{{ proyecto.titulo }}</td>

          <td>{{ proyecto.semestre }}</td>

          <td>{{ proyecto.resumen }}</td>
          <td>{{ proyecto.metodologia }}</td>
          <td>{{ proyecto.resultados }}</td>

        </tr>

      </tbody>
      <div class="cuadrado">
        <h6>Digite El codigo del proyecto que desea Evaluar: </h6>
        <input class="form-control" type="text" placeholder="Escribe La identificacion">
      </div>
      <div class="botonEvaluar">
        <button type="button" class="btn btn-success btn-sm btn-block caracteristicaBoton" [routerLink]="['/']"> EVALUAR
        </button>
      </div>

    </table>
  </div>
</div>