.btn-group-vertical{
    padding-top:1px;
    padding-right: 10px;   
}

.btn-success {
    padding-top:23px;
    padding-bottom:23px;
    font-weight:500;   
}

table {
    width: 70%;   
}

text{
    width: 70%;  
}

.cuadrado{
    width: 255%;  
    height: 100%; 
    padding-top:5%;
}

.botonEvaluar{
    padding-top:3%;
    padding-left: 50%;
    
}

.caracteristicaBoton{
    font-size:113%;   
    padding-top:3%;
    padding-bottom: 3%;
    
}