<div class="btn-group-vertical" style="float:left">
    <button type="button" class="btn btn-success " [routerLink]="['/InicioDocenteLider']"> Inicio</button>
    <button type="button" class="btn btn-success " [routerLink]="['/RegistrarPendon']"> Registrar Pendon</button>
    <button type="button" class="btn btn-success " [routerLink]="['/ConsultaResultado']"> Consultar Resultado</button>

</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h3>Consultar Resultado</h3>
            <form>
               <p>Resultado de la primera fase: </p>
                  
               <p>Resultado del Pendon: </p>

               <p>Resultado de la tercera fase: </p>
             </form>
        </div>
    </div>
</div>