<div class="btn-group-vertical" style="float:left">
    <button type="button" class="btn btn-success " [routerLink]="['/InicioDocenteLider']"> Inicio</button>
    <button type="button" class="btn btn-success " [routerLink]="['/RegistrarPendon']"> Registrar Pendon</button>
    <button type="button" class="btn btn-success " [routerLink]="['/ConsultaResultado']"> Consultar Resultado</button>

</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h3>Registrar Pendon</h3>
            <form>
                <p>Subir Archivo en formato PDF: </p>

                <button type="button" class="btn btn-success btn-sm caracteristicaBoton"> BUSCAR ARCHIVO </button>

            </form>

            <div class="form-group cuadrado">
                <h6>Agregar Descripción: </h6>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                <p></p>
                <button type="button" class="btn btn-success btn-sm caracteristicaBoton"> REGISTRAR </button>
            </div>
        </div>
    </div>
</div>