<div class="btn-group-vertical" style="float:left">
    <button type="button" class="btn btn-success " [routerLink]="['/inicio']"> Inicio</button>
    <button type="button" class="btn btn-success " [routerLink]="['/evaluaInscripcion']"> Evaluar Inscripcion</button>
    <button type="button" class="btn btn-success " [routerLink]="['/registrarComiteEvaluador']"> Registrar Comite Evaluador</button>
    <button type="button" class="btn btn-success " [routerLink]="['/registrarDocenteEvaluador']"> Registrar Docente Evaluador</button>
    <button type="button" class="btn btn-success " [routerLink]="['/modificarRubrica']"> Modificar Rubrica</button>
    <button type="button" class="btn btn-success " [routerLink]="['/evaluarPendon']"> Evaluar Pendón</button>
</div>

