<div class="container">
    <div class="row">
        <div class="col">
            <form>
                <div class="row">
                    <div class="col-md-2">
                        <label>Item</label>
                        <input type="text" name="idDescripcion" [(ngModel)]="descripcionC.idDescripcion" class="form-control" />
                    </div>
                    <div class="col-md-5">
                        <label>Descripción</label>
                        <input type="text" name="descripcion" [(ngModel)]="descripcionC.descripcion" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <label>Valor</label>
                        <input type="number" name="valor" [(ngModel)]="descripcionC.valor" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label>Item</label>
                        <input type="text" name="idDescripcion" [(ngModel)]="descripcionC.idDescripcion" class="form-control" />
                    </div>
                    <div class="col-md-5">
                        <label>Descripción</label>
                        <input type="text" name="descripcion" [(ngModel)]="descripcionC.descripcion" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <label>Valor</label>
                        <input type="number" name="valor" [(ngModel)]="descripcionC.valor" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label>Item</label>
                        <input type="text" name="idDescripcion" [(ngModel)]="descripcionC.idDescripcion" class="form-control" />
                    </div>
                    <div class="col-md-5">
                        <label>Descripción</label>
                        <input type="text" name="descripcion" [(ngModel)]="descripcionC.descripcion" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <label>Valor</label>
                        <input type="number" name="valor" [(ngModel)]="descripcionC.valor" class="form-control" />
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary mr-1" (click)="update()">Guardar</button>
            </div>
            </form>
        </div>
    </div>
</div>