<div class="container">
    <div class="slider">
        <ul>
            <li>
                <img src="../../assets/noticias.jpg" alt="Noticias" height="500">
            </li>
            <li>
                <img src="../../assets//upc.jpg" alt="Upc" height="500">
            </li>
            <li>
                <img src="../../assets/alumnos.jpg" alt="alumnos" height="500">
            </li>
            <li>
               <img src="../../assets/expo.jpg" alt="Exposoftware" height="500">
            </li>
        </ul>
    </div>
    <div class="enlaces">
        <h3>Noticias de interes</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores quam eum cumque? Pariatur dicta corrupti nam repellat modi, eius et illo cumque saepe iure deleniti totam fugit. Accusantium, accusamus saepe.</p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt earum ratione minus eveniet optio sapiente fugiat cupiditate. Tenetur laudantium ipsum illo voluptas cum, eos fugiat optio sint omnis sunt maxime?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure nihil modi maiores nisi quos voluptatem ducimus iusto debitis sunt ratione! Praesentium molestias libero repudiandae veniam obcaecati ipsum! Explicabo, eum officiis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit maxime consequatur sunt asperiores, labore quod quasi sequi ipsum debitis quidem voluptatum iure, eum eligendi! Obcaecati incidunt labore blanditiis praesentium veritatis.
    </div>
</div>