<div class="container">
<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../assets//noticias.jpg" alt="Noticias" height="500">
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../assets//upc.jpg" alt="Upc" height="500">
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../assets/alumnos.jpg" alt="Alumnos" height="500">
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../assets/expo.jpg" alt="Exposoftware" height="500">
        </div>
    </ng-template>
</ngb-carousel>
    <div class="row">
        <div class="col-sm-6 mt-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">INSCRIBE TU PROYECTO</h5>
              <p class="card-text">La Universidad Popular Del Cesar abre su convocatoria para que los docentes inscriban sus proyectos para la competencia Exposoftware.</p>
              <a [routerLink]="['/docenteRegistro']" class="btn btn-success btn-sm">INSCRIBETE</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mt-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">INFORMACION</h5>
              <p class="card-text">Jornada Cientifica De Investigacion Tecnologica ofrecida por la Universidad Popular Del Cesar.</p>
              <a [routerLink]="['/Informacion']" class="btn btn-success btn-sm">INFORMACION</a>
            </div>
          </div>
        </div>
      </div> 
</div>