<div class="lateral">
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" type="success">
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span>Proyecto</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <ul>
            <li><a [routerLink]="['/proyectoConsultaL']">Consultar proyecto</a></li>
          </ul>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span>Pendón</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <ul>
            <li><a [routerLink]="['/']">Información</a></li>
            <li><a [routerLink]="['/']">Registrar pendón</a></li>
            <li><a [routerLink]="['/']">Consultar pendón</a></li>
          </ul>
        </ng-template>
      </ngb-panel>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span>Calificación</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <ul>
            <li><a [routerLink]="['/']">Consultar calificación</a></li>
          </ul>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
