<app-menu-top></app-menu-top>
<div class="row">
    <app-menu-lateral></app-menu-lateral>
    <div class="container">
        <h5>REGISTRAR Usuario</h5>
        <form>

            <div class="row">

                <div class="col">

                    <div class="form-group">

                        <label>Identificación</label>

                        <input type="text" name="identificacion" [(ngModel)]="usuario.identificacion"
                            class="form-control" />

                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col">

                    <div class="form-group">

                        <label>Nombre Usuario</label>

                        <input type="text" name="nombreUsuario" [(ngModel)]="usuario.usuarioNombre"
                            class="form-control" />

                    </div>
                </div>

                <div class="col">
                    <h6 class="posicion2">Tipo Docente: </h6>
                        <select class="form-control" name="TipoDocente" [(ngModel)]="usuario.tipoDocente" size="2">

                            <option selected>Selecciona</option>

                            <option>Docente Evaluador</option>

                            <option>Comite Evaluador</option>

                            <option>Lider Proyecto</option>

                        </select>
                </div>

            </div>

            <div class="row">
                <div class="col">
                    <h6>Contraseña: </h6>

                    <input type="password" name="Contrasena" [(ngModel)]="usuario.contrasena"
                        class="form-control tamanio" id="inputPassword3" placeholder="Contraseña">

                    <button type="button" class="btn btn-success btn-sm caracteristicaBoton" (click)="add()"> AGREGAR
                    </button>
                </div>
            </div>
        </form>


    </div>
</div>