<app-menu-top></app-menu-top>
<div class="row">
  <app-menu-lateral></app-menu-lateral>
  <div class="container">
    <div class="row">
      <div class="col">
        <h5>EVALUAR PENDÓN</h5>
        <form>
          <div class="form-row">
            <div class="col">
              <label>Código del pendón</label>
              <input type="text" class="form-control" />
            </div>
            <div class="col">
              <label>Título del proyecto</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <label>Introducción</label>
              <textarea class="form-control" rows="3"></textarea>
            </div>
            <div class="col">
              <label>Metodológia</label>
              <textarea class="form-control" rows="3"></textarea>
            </div>
          </div>

          <div class="form-row">
            <div class="col">
              <label>Resultados</label>
              <textarea class="form-control" rows="3"></textarea>
            </div>
            <div class="col">
              <label>Objetivos</label>
              <textarea class="form-control" rows="3"></textarea>
            </div>
          </div>

          <div class="form-row">

            <div class="col">
              <label>Conclusión</label>
              <textarea class="form-control" rows="3"></textarea>
            </div>

            <div class="col">
              <label>Referencias</label>
              <textarea class="form-control" rows="3"></textarea>
            </div>

          </div>

          <div class="form-row">
            <div class="col-3">
              <label>Estado </label>
              <select class="form-control">
                <option>Aceptado</option>
                <option>Modificar</option>
              </select>
            </div>
            <div class="col">
              <label>Observaciones</label>
              <textarea class="form-control" rows="1"></textarea>
            </div>
          </div>

          <div class="text-center">
            <button id="botones" class="btn btn-primary mr-1">Actualizar</button>

            <button id="botones" class="btn btn-secondary" type="reset">Cancel</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>