<div class="btn-group-vertical" style="float:left">
    <button type="button" class="btn btn-success " [routerLink]="['/inicio']"> Inicio</button>
    <button type="button" class="btn btn-success " [routerLink]="['/evaluaInscripcion']"> Evaluar Inscripcion</button>
    <button type="button" class="btn btn-success " [routerLink]="['/RegistrarUsuario']"> Registrar Usuarios Docente</button>
    <button type="button" class="btn btn-success " [routerLink]="['/modificarRubrica']"> Modificar Rubrica</button>
    <button type="button" class="btn btn-success " [routerLink]="['/evaluarPendon']"> Evaluar Pendón</button>
</div>
<table class="table table-hover">
    <thead>
      <tr class="bg-success">
        <th scope="col">#</th>
        <th scope="col">Codigo Del Pendon</th>
        <th scope="col">Usuario</th>
        <th scope="col">Titulo Del Proyecto</th>
      </tr>
    </thead>
    <tbody>
      <tr> 
        <th scope="row">1</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
    <div class="cuadrado">
      <h6>Digite El codigo del pedon que desea Evaluar: </h6>
      <input class="form-control" type="text" placeholder="Escribe La identificacion">
    </div>
    <div class="botonEvaluar">
      <button type="button" class="btn btn-success btn-sm btn-block caracteristicaBoton" [routerLink]="['/']"> EVALUAR </button>
    </div>
   
  </table>